@font-face {
  font-family: "Fira Code";
  src: local("Fira Code"),
    url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/woff2/FiraCode-Regular.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/woff/FiraCode-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --cherry-blossom-pink: #ffb3cc;
  --dark-cherry-pink: #ff99bb;
  --black: #000000;
  --dark-grey: #1f1f1f;
  --grey: #272727;
  --white: #ffffff;
}
html {
  width: 100%;
}
#quicknav {
  margin: 10%;
  border: 4px double #000000;
}
.sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
}
#settings {
  float: right;
}
#bottombar {
  position: absolute;
  bottom: 0;
  height: 3%;
  /* width: 100%; */
}
.bbitem {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0.25% 0%;
  width: 100%;
  text-align: center;
  display: inline-block;
  transition: background 0.3s, color 0.3s;
  border: none;
  font-size: small;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.caption {
  display: block;
  text-align: center;
  font-size: small;
}
#qntitle {
  font-size: 20px;
  margin: 4%;
}
body {
  background-color: var(--cherry-blossom-pink);
  margin: 0%;
  color: var(--black);
  font-family: "Fira Code", serif;
}
.main-content {
  width: 60%;
  margin-left: 20%;
  margin-top: 1%;
  padding: 1%;
  margin-right: 20%;
  border: 4px double #000000;
}
.mctitle {
  margin-top: 0.5%;
  margin-bottom: 0;
}
#titlebar {
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  background-color: var(--dark-grey);
}
/* Dropdown Button */
.dropbtn {
  background-color: var(--dark-grey);
  color: var(--cherry-blossom-pink);
  margin: 0;
  padding: 3% 0%;
  display: inline-block;
  top: 0;
  width: 100%;
  transition: background 0.3s, color 0.3s;
  border: none;
}
.dropbtn:visited {
  color: var(--cherry-blossom-pink);
}
#homewrapper {
  position: relative;
  background-color: var(--dark-grey);
  color: var(--cherry-blossom-pink);
  /* margin: 0; */
  /* padding: auto; */
}
#homebtn {
  color: var(--cherry-blossom-pink);
  transition: background 0.3s, color 0.3s;
  padding: 3% 0%;
  width: 100%;
  display: inline-block;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  top: 0%;
  left: 0%;
  width: 10%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}
a {
  color: #530d82;
  text-decoration: none;
}
a:visited {
  color: #530d82;
}
a.fancylight {
  color: #530d82;
  text-decoration: none;
}
a.fancylight:visited {
  color: #530d82;
}
a.fancydark:visited {
  color: #c178f2;
}
a.fancydark {
  color: #c178f2;
}
a.simpledark:visited {
  color: #c178f2;
}
a.simpledark {
  color: #c178f2;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  /* padding: 5%; */
  width: 100%;
  background-color: var(--dark-grey);
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: 5%;
  margin: 0;
  color: var(--cherry-blossom-pink);
  text-decoration: none;
  display: block;
}
.dropdown-content a:visited {
  color: var(--cherry-blossom-pink);
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--dark-cherry-pink);
  color: var(--black);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--dark-cherry-pink);
  color: var(--black);
}
#homebtn:hover {
  background-color: var(--cherry-blossom-pink);
  color: var(--black);
}
.qnitem {
  margin: 3%;
}
/* .darkmode{
  background-color: var(--dark-grey);
  color: var(--cherry-blossom-pink);
} */
hr {
  pointer-events: none;
}
.fancylight {
  background-color: var(--cherry-blossom-pink);
  color: var(--black);
}
.fancydark {
  background-color: var(--dark-grey);
  color: var(--cherry-blossom-pink);
}
.simplelight {
  background-color: var(--white);
  color: var(--black);
}
.simpledark {
  background-color: var(--dark-grey);
  color: var(--white);
}

span#janus.fancylight {
  color: var(--dark-grey);
}
span#janus.simplelight {
  color: var(--dark-grey);
}
